body
{
margin:10px;
font-family:"Times New Roman";
font-size:20px;
text-align:center;
background-image: url('3.jpeg');
background-repeat:no-repeat;
background-position:right;
}

table,th,td
{
border:1px solid black;
}

table {
    border-collapse: collapse;
    width:100%;
}

th {
	height:50px;
}